@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&display=swap");
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
}


/* styling for scroll bar */

* {
    scrollbar-width: thin;
    scrollbar-color: rgb(30, 30, 211) transparent;
    scroll-behavior: smooth;
}

*::-webkit-scrollbar {
    width: 10px;
}

*::-webkit-scrollbar-track {
    background: transparent;
}

*::-webkit-scrollbar-thumb {
    background: rgb(30, 30, 211);
    border-radius: 20px;
    border: transparent;
}

body {
    height: 100%;
    width: 100%;
    overflow: hidden;
    position: relative;
}

.main {
    display: flex;
    width: 100%;
}

.home_content {
    width: 78%;
    flex: 1;
    height: 100vh;
    overflow-y: scroll;
}


/* sidebar hughes*/

.sidenav {
    width: 20%;
    height: 100;
    background: rgb(30, 30, 211);
    color: #fff;
    transition: 0.3s all ease;
    padding-top: 40px;
}

.sidenav a {
    color: #fff;
    text-decoration: none;
}

#sidelink1 {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: center;
    align-items: center;
    padding: 20px 0px;
}

.side_option {
    margin: 10px;
    padding: 15px;
    transition: 0.3s all ease;
}

.side_option:hover {
    background-color: rgb(42, 42, 177);
}

.side_option .title {
    font-weight: 600;
}

#open {
    display: none;
}


/* navbar hughes */

.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    background: rgb(30, 30, 211);
    color: #fff;
    padding: 4px 10px !important;
}

.navbar-brand {
    color: #fff;
    font-size: 20px;
    font-weight: 600;
}

.flex-cont {
    display: flex;
    width: 180px;
    align-items: center;
    gap: 10px;
}

.icon img {
    width: 30px;
}

.navbar-brand .logo_name {
    padding: 0;
    margin: 0;
    font-size: 18px;
    font-weight: 600;
    display: block;
}

.navbar-brand span {
    font-size: 9px;
    padding: 0;
    margin: 0;
    display: block;
}

.navbar a {
    color: #fff;
}

.navbar a:hover {
    color: #fff;
}

.nav-link {
    padding: 2px 10px !important;
    font-weight: 550;
}

.navbar-nav {
    display: flex;
    align-items: center;
}

.nav-icon {
    display: flex;
    margin-left: 10px;
    padding-left: 5px;
}

.nav-icon .icon img {
    height: 25px;
    object-fit: contain;
}

.myname {
    text-transform: capitalize;
}


/* form-styling hughes*/

.form-container {
    background: blue;
    width: 40%;
    margin: 40px auto;
    padding: 14px;
    color: #fff;
    border-radius: 10px;
}

.form-container li {
    color: #fff;
    list-style: none;
}

.form-container span a {
  color: #fff;
  text-decoration: underline;
}

.dashboard {
  height: 80vh;
}

.dashboard .row {
  width: 80%;

  /* margin: 0 auto; */
  /* display: flex;
  justify-content: space-between; */
}

.dashboard .row .dash-card {
  display: flex !important;
  align-items: center;
  color: #fff;
  height: 100px;
  border-radius: 5px;
}

.dash-card .title {
  text-align: center;
}
.dash-card .title h3 {
  font-weight: 600;
}

.dash_icon {
  height: 60px;
  display: flex !important;
  align-items: center;
  justify-content: center;
  flex: 1;
}
.dash_icon img {
  height: 100%;
}
.one {
  background: rgb(30, 30, 211);
}
.two {
  background: rgb(96, 96, 181);
}
.three {
  background: rgb(6, 112, 112);
}

header {
  display: flex;
  justify-content: space-between;
  margin: 10px;
}

.shadow {
  -webkit-box-shadow: 0px 1px 12px -1px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 1px 12px -1px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 1px 12px -1px rgba(0, 0, 0, 0.75);
}

.departments .row {
  width: 90%;
  display: flex;

  flex-wrap: wrap;
}

.mycard {
  width: 200px !important;

  color: rgb(16, 15, 15);
  background: #fff;
  border-radius: 5px;
  padding: 14px;
  margin: 20px 10px;

  box-shadow: 3px 4px 7px 0px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 3px 4px 7px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 3px 4px 7px 0px rgba(0, 0, 0, 0.75);
}

.departments .row .col-md-3 {
  width: 27% !important;

  cursor: pointer;
  text-decoration: none;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;

  color: rgb(16, 15, 15);
  background: rgb(248, 247, 247);
  border-radius: 5px;
  padding: 14px;

  box-shadow: 3px 4px 7px 0px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 3px 4px 7px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 3px 4px 7px 0px rgba(0, 0, 0, 0.75);
}

.dep-card h3 {
  font-weight: 600;
}
.dep-card h5 {
  font-weight: 600;
}

.modal {
  border-radius: 10px;
}
.modal-header {
  background: rgb(30, 30, 211);
}
.modal-header .modal-title {
  font-weight: 600;
  color: white;
}

.modal-body textarea {
  height: 150px;
}

.dep_detail .row .dep_det-card {
  padding: 18px 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
}

.dep_det-card .title {
  flex: 1;
  color: white;
}

.dep_det-card .title h5 {
  font-weight: 600;
}

.dropdown-menu {
  padding: 9px 1px;
}
.dropdown-item {
  font-weight: 550;
  margin: 7px 0px;
  padding: 8px;
    color: #fff;
    text-decoration: underline;
}

.modal1{
  display: flex;
  border-radius: 10px;
}
#emp{
  text-align: center;
}
