{%extends 'assets/base.html'%} {% load bootstrap4%} {% load static %}
<!-- content -->
{%block content%}

<div class="container-fluid">
  <div class="row">
    <div class="col-md-7 mt-4">
      <div class="header d-flex flex-row justify-content-between">
        <h2>Assets</h2>
        <!-- <a href="addasset"
          ><img
            src="https://img.icons8.com/ios/50/4a90e2/add--v1.png"
            alt="add asset"
        /></a> -->
        <a
          href="#"
          class="btn btn-primary"
          data-toggle="modal"
          data-target="#staticBackdrop"
        >
          Add Asset</a
        >
      </div>

      <table class="table mt-4">
        <thead>
          <tr>
            <th scope="col">ID</th>
            <th scope="col">Name</th>
            <th scope="col">Category</th>
            <th scope="col">Department</th>
          </tr>
        </thead>

        {% for asset in assets %}

        <tbody>
          <tr
            style="cursor: pointer"
            onclick="window.location='/assetdetails/{{asset.id}}'"
          >
            <th scope="row">{{ asset.id }}</th>
            <td>{{ asset.name }}</td>
            <td>{{ asset.category }}</td>
            <td>{{ asset.department }}</td>
          </tr>
        </tbody>
        {% endfor %}
      </table>
    </div>
    <div class="col-md-5"></div>
  </div>

  <!-- update department manager modal -->
  <div
    class="modal fade"
    id="staticBackdrop"
    data-backdrop="static"
    data-keyboard="false"
    tabindex="-1"
    aria-labelledby="staticBackdropLabel"
    aria-hidden="true"
  >
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Add Asset</h5>
          <button
            type="button"
            class="close text-white"
            data-dismiss="modal"
            aria-label="Close"
          >
            &times;
          </button>
        </div>
        <div class="modal-body">
          <form
            class="form"
            method="post"
            novalidate
            enctype="multipart/form-data"
          >
            {% csrf_token %} ​ {% bootstrap_form form layout='block' %}
            <button
              type="submit"
              class="btn btn-sm btn-primary"
              style="margin-top: 10px; margin-left: 5px"
            >
              Add
            </button>
          </form>
        </div>
      </div>
    </div>
  </div>

  {% endblock%}
</div>
