{%extends 'assets/base.html'%}
{% load bootstrap4%}
{% load static %}

{%block content%}

<div class="container-fluid">
    <div class="row">

        <div class="col-md-7 mt-4">
            <div class="header d-flex flex-row  justify-content-between">
                <h2>Assets</h2>
                <div class="dropdown" style="float:right;">
                    <button class="btn btn-outline-primary dropdown-toggle" type="button" id="dropdownMenuButton"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Actions
                    </button>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                        <a class="dropdown-item" href="updateasset/{{asset.id}}">Update </a>
                        <a class="dropdown-item" href="#">Assign Department</a>
                        <a class="dropdown-item" href="delete/{{asset.id}}">Delete</a>
                    </div>
                </div>

            </div>





            <div class="row">

                <div class="col-md-1"></div>
                <div class="col-md-7">
                    <div class="card card-body">
                        <div class="card-title" style="text-decoration: underline;">
                            <h2>Asset Details</h2>
                        </div>
                        <div class="card-title">
                            <p> {{asset.name}}</p>
                            <hr>
                            <ul class="p-4">
                                <li>Category: <strong>{{ asset.category }}</strong></li>
                                <li>Department: <strong>{{ asset.department.name }}</strong></li>
                                <li>Created <strong>{{ asset.created_at }}</strong></li>
                                <li>Is Assigned?: <strong>{{ asset.is_assigned}}</li>
                            </ul>

                        </div>
                    </div>
                </div>
            </div>




        </div>
        <div class="col-md-5"></div>
    </div>
</div>

{% endblock%}