{%extends 'assets/base.html'%} {% load bootstrap4%} {% load static %}

<!-- contet -->
{%block content%}

<div class="container-fluid">


    <div class="intro mt-3">
    <header class="mb-3 p-0">
       <h2>Asset Details</h2>

      <div>
     {% if user.is_superuser %}
      <a
        class="btn btn-danger"
        href="#"
        data-toggle="modal"
        data-target="#staticBackdrop2"
        >Delete
      </a>
      <a
        class="btn btn-primary"
        href="#"
        data-toggle="modal"
        data-target="#staticBackdrop"
        >Update
      </a>
      {% endif %}
    </header>
  </div>


  <div class="card-title mt-5 pl-2" style="text-transform: capitalize">
    <h2>
<b>{{asset.name}}</b>

    </h2>
    <hr />
  </div>

  <div class="row p-3">
    <div class="col-md-6">
      <div>
        <img
          src="{{ asset.image.url }}"
          alt="{{ asset.name }}"
          height="70%"
          width="70%"
        />
      </div>
    </div>
    <div class="col-md-6">
      <ul class="p-4 mt-3" style="list-style-type: square; font-size: 20px">
        <li>Category: <strong>{{ asset.category }}</strong></li>
        <li>Department: <strong>{{ asset.department.name }}</strong></li>
        <li>Created <strong>{{ asset.created_at| date }}</strong></li>
        <li>
          Employee Assigned : {% if asset.is_assigned_user %}
          <button class="btn btn-sm btn-success">Yes</button>
          {%else%}
          <button class="btn btn-sm btn-info">No</button>
          {% endif %}
        </li>
      </ul>
    </div>
  </div>
</div>

<!-- Modal -->
<div
  class="modal fade"
  id="staticBackdrop"
  data-backdrop="static"
  data-keyboard="false"
  tabindex="-1"
  aria-labelledby="staticBackdropLabel"
  aria-hidden="true"
>
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Update Asset Details</h5>
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          aria-label="Close"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form
          class="form"
          action="{%url 'assets:update_asset' asset.id%}"
          method="post"
          novalidate
          enctype="multipart/form-data"
        >
          {% csrf_token %} {% bootstrap_form form layout='block' %}
          <button type="submit" class="btn btn-success">Update</button>
        </form>
      </div>
      <!-- <div class="modal-footer">
                        <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-primary">Assign</button>
                    </div> -->
    </div>
  </div>
</div>

<div
  class="modal fade"
  id="staticBackdrop2"
  data-backdrop="static"
  data-keyboard="false"
  tabindex="-1"
  aria-labelledby="staticBackdropLabel"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Delete Department</h5>
        <button
          type="button"
          class="close text-white"
          data-dismiss="modal"
          aria-label="Close"
        >
          &times;
        </button>
      </div>
      <div class="modal-body">
        <h4>Are you sure you want to remove this asset?</h4>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-dismiss="modal">
          Close
        </button>
        <a
          href="{%url 'assets:delete_asset' asset.id%}"
          type="button"
          class="btn btn-primary"
          >Confirm</a
        >
      </div>
    </div>
  </div>
</div>

{% endblock%}
