{%extends 'assets/base.html'%}
{% load bootstrap4%}
{% load static %}

{%block content%}


               

      
       <div class="container mt-5">
  <header>
    <h2>Assign Asset to User </h2>
     <div>
          <a class="btn btn-primary"  
                         data-toggle="modal"
          data-target="#staticBackdrop">Assign Asset to Employee</a>
     </div>
  </header>
  <div class="card-title pl-2" style="text-transform: capitalize">
    <h3>{{asset.asset.name}}</h3>
    <hr />
  </div>

  <div class="row p-3">
    <div class="col-md-6">
      <div>
        <img
          src="{{ asset.asset.image.url }}"
          alt="{{ asset.asset.name }}"
          height="70%"
          width="70%"
        />
      </div>
    </div>
    <div class="col-md-6">
      <ul class="p-4 mt-3" style="list-style-type: square; font-size: 20px">
        <li>Category: <strong>{{ asset.asset.category }}</strong></li>
        <li>Department: <strong>{{ asset.asset.department.name }}</strong></li>
        <li>Created <strong>{{ asset.asset.created_at }}</strong></li>
        <li>
          Employee Assigned : {% if asset.asset.is_assigned_user %}
          <button class="btn btn-sm btn-success">Yes</button>
          {%else%}
          <button class="btn btn-sm btn-info">No</button>
          {% endif %}
        </li>
      </ul>
    </div>
  </div>
</div>
   
        <!-- Modal -->
        <div   class="modal fade"
    id="staticBackdrop"
    data-backdrop="static"
    data-keyboard="false"
    tabindex="-1"
    aria-labelledby="staticBackdropLabel"
    aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <form action="{% url 'assets:assign_asset_user' asset.asset.id %}" class="form" method="post" novalidate enctype="multipart/form-data">
                            {% csrf_token %}


<div class="form-group ">
     <label for="select">Employee</label>
                         ​ <select class="form-control" id="select" name="employee" >
    <option hidden></option>
    {% for employee in employees  %}
      <option value="{{employee.user.username}}">{{employee.user.username}}</option>
    {% endfor %}
   
  </select>
   
  </div>

                              <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-primary">Assign</button>
                        </form>
                    </div>
                   
                </div>
            </div>
        </div>

</div>

{% endblock%}
