{% load bootstrap4 %} {% load static%}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>Asset Inventory</title>
    <link rel="icon" href="{% static 'images/favicon.ico' %}" />

    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" />

    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
      integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/4.6.0/js/bootstrap.min.js"
      integrity="sha512-XKa9Hemdy1Ui3KSGgJdgMyYlUg1gM+QhL6cnlyTe2qzMCYm4nAZ1PsVerQzTTXzonUR+dmswHqgJPuwCq1MaAg=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    ></script>
    {% block styles %} {% bootstrap_css %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}" />
    {% endblock %}
  </head>
  <body>
    <nav class="navbar navbar-expand-lg p-0">
      <div class="flex-cont">
        <div class="icon">
          <img
            onclick="openSideMenu()"
            id="open"
            src="../../static/icons/menu (2).svg"
            alt=""
          />
          <img
            onclick="closeSideMenu()"
            id="close"
            src="../../static/icons/menu (1).png"
            alt=""
          />
        </div>

        <a class="navbar-brand" href="/">
          <span class="logo_name">TARATIBU ASSETS</span>
          <span>SIMPLIFIED ASSET MANAGEMENT</span>
        </a>
      </div>
      <!-- 
  <div>
    <form class="form-inline my-2 my-lg-0">
      <input
        class="form-control mr-sm-2"
        type="search"
        placeholder="Search"
        aria-label="Search"
      />
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">
        Search
      </button>
    </form>
  </div> -->

      <div>
        <button
          class="navbar-toggler"
          type="button"
          data-toggle="collapse"
          data-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="text-white">
            <i class="fas fa-bars"></i>
          </span>
        </button>

        <div class="collapse navbar-collapse p-0" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto p-0">
            {% if user.is_authenticated %}
            <li class="nav-item active p-0">
              <a class="nav-link" href="/"
                >Hello {{user}} <span class="sr-only">(current)</span></a
              >
            </li>
            <li class="nav-item active p-0">
              <a class="nav-link" href="/">Profile </a>
            </li>
            <li class="nav-item active p-0">
              <a class="nav-link" href="/">Logout</a>
            </li>

            {% else %}
            <li class="nav-item">
              <a class="nav-link" href="#"> Login </a>
            </li>
            {% endif %}
          </ul>
        </div>
      </div>
    </nav>
    <div class="main">
      <!-- {% if user.is_authenticated %} {% endif %} -->
      <div id="sidebar" class="sidenav">
        <div id="sidelink1">
          <div class="side_option">
            <a class="flex-cont" href="/home">
              <div class="icon">
                <img
                  onclick="openSideMenu()"
                  src="../../static/icons/menu (2).svg"
                  alt=""
                />
              </div>
              <div class="title">Dashboard</div>
            </a>
          </div>
          <div class="side_option">
            <a class="flex-cont" href="/home">
              <div class="icon">
                <img
                  onclick="openSideMenu()"
                  src="../../static/icons/department.png"
                  alt=""
                />
              </div>
              <div class="title">Departments</div>
            </a>
          </div>
          <div class="side_option">
            <a class="flex-cont" href="/home">
              <div class="icon">
                <img
                  onclick="openSideMenu()"
                  src="../../static/icons/company.png"
                  alt=""
                />
              </div>
              <div class="title">Employees</div>
            </a>
          </div>
          <div class="side_option">
            <a class="flex-cont" href="/home">
              <div class="icon">
                <img
                  onclick="openSideMenu()"
                  src="../../static/icons/assets.png"
                  alt=""
                />
              </div>
              <div class="title">Assets</div>
            </a>
          </div>
          <div class="side_option">
            <a class="flex-cont" href="/home">
              <div class="icon">
                <img
                  onclick="openSideMenu()"
                  src="../../static/icons/mail.png"
                  alt=""
                />
              </div>
              <div class="title">Requests</div>
            </a>
          </div>
        </div>
      </div>

      <div class="p-0 m-0 home_content">
        {%block content%} {%endblock content%}
      </div>
    </div>
    {%include "assets/scripts.html"%} {% block scripts %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    {% bootstrap_javascript %} {% endblock %}
  </body>
</html>
