{%extends 'assets/base.html'%}
<!-- bootstrap -->
{% load bootstrap4%}
<!-- static -->
{% load static %}

<!-- content -->
{%block content%} ​
<div class="container-fluid dashboard ml-3 mr-5">
  <div class="intro row col-md-12">
    <header>
      <h2>Welcome <span style="text-transform: capitalize"> {{user}}</span></h2>
      <h3>{{date}}</h3>
    </header>
  </div>
  {% if user.is_superuser %}
  <h2 class="mt-5 ml-3"><b>Overview</b></h2>
  {% endif %} {% if user.is_superuser or user.is_admin %}
  <div class="row mt-3">
    {% if user.is_superuser %}
    <div class="m-4 dash-card one">
      <div class="title">
        <h6>Departments</h6>
        <header>
          <h3>{{departments}}</h3>
        </header>
      </div>
      <!-- <div class="dash_icon">
        <img src="../../static/icons/department(1).png" alt="" />
      </div> -->
    </div>
    {% endif %}

    <div class="m-4 dash-card two">
      <div class="title">
        <h6>Total Employees</h6>
        {% if user.is_superuser %}
        <h3>{{employees}}</h3>
        {%elif user.is_admin %}
        <h3>{{ dept_employees.count}}</h3>

        {% endif %}
      </div>
      <!-- <div class="dash_icon">
        <img src="../../static/icons/team.png" alt="" />
      </div> -->
    </div>

    <div class="m-4 dash-card three">
      <div class="title">
        <h6>Managers</h6>

        <h3>{{managers | length}}</h3>
      </div>
    </div>

    <div class="m-4 dash-card four">
      <div class="title">
        <h6>Total Assets</h6>
        {% if user.is_superuser %}
        <h3>{{assets}}</h3>
        {%elif user.is_admin %}

        <h3>{{dept_assets.count}}</h3>
        {% endif %}
      </div>
      <!-- <div class="dash_icon">
        <img src="../../static/icons/assets(1).png" alt="" />
      </div> -->
    </div>

    <div class="m-4 dash-card five">
      <div class="title">
        <h6>Assets Assigned to Department</h6>

        <h3>{{assigned_assets| length}}</h3>
      </div>
    </div>

    <div class="m-4 dash-card six">
      <div class="title">
        <h6>Assets in Store</h6>
        {% if user.is_superuser %}
        <h3>{{unassigned_assets | length}}</h3>
        {%elif user.is_admin %}

        <h3>{{dept_assets.count}}</h3>
        {% endif %}
      </div>
      <!-- <div class="dash_icon">
        <img src="../../static/icons/assets(1).png" alt="" />
      </div> -->
    </div>
    <div class="m-4 dash-card seven">
      <div class="title">
        <h6>Manger Requests</h6>
        {% if user.is_superuser %}
        <h3>{{manager_requests}}</h3>
        {%elif user.is_admin %}

        <h3>{{dept_assets.count}}</h3>
        {% endif %}
      </div>
    </div>
    <div class="m-4 dash-card eight">
      <div class="title">
        <h6>Pending Manager Requests</h6>
        {% if user.is_superuser %}
        <h3>{{uncompleted_manager_request | length}}</h3>
        {%elif user.is_admin %}

        <h3>{{dept_assets.count}}</h3>
        {% endif %}
      </div>
    </div>
    <div class="m-4 dash-card nine">
      <div class="title">
        <h6>Employee Requests</h6>
        {% if user.is_superuser %}
        <h3>{{employee_requests}}</h3>
        {%elif user.is_admin %}

        <h3>{{dept_assets.count}}</h3>
        {% endif %}
      </div>
    </div>
    <div class="m-4 dash-card ten">
      <div class="title">
        <h6>Pending Employee Requests</h6>
        {% if user.is_superuser %}
        <h3>{{uncompleted_employee_request | length}}</h3>
        {%elif user.is_admin %}

        <h3>{{dept_assets.count}}</h3>
        {% endif %}
      </div>
    </div>
  </div>
  {%else%}
  <div class="m-4">
    <div class="row">
      <div class="m-4 dash-card two">
        <div class="title">
          <h6>Assets</h6>
          <h3>{{employee.assets}}</h3>
        </div>
        <!-- <div class="dash_icon">
          <img src="../../static/icons/assets(1).png" alt="" />
        </div> -->
      </div>
    </div>

    <p class="mt-4">
      Lorem ipsum dolor, sit amet consectetur adipisicing elit. Molestias, id!
    </p>
  </div>
  {% endif %}
</div>
​ {% endblock %}