{%extends 'assets/base.html'%}
{% load bootstrap4%}
{% load static %}
{%block content%}

<div class="container " style='padding-top: 30px;margin-left: 80px;'>
    <h1 class="mt-center">MANAGEMENT DEPARTMENTS</h1>
    <p class="text-center">We ensure that all assets in departments are physically safeguarded and properly accounted for in our organization asset records</p>
    <div class="row row-cols-1 row-cols-md-3 g-6">
        {%for department in department%}
        <div class="col-6">
            <div class="card h-100">
                <div class="card-body">
                    <h5 class="card-title text-success text-center">{{department.name}}</h5>
                    <p class="card-text">{{department.description}}</p>
                    <p class="card-title"><mark>Head of Department {{department.manager}}</mark></p>
                    <button type="button" class="btn btn-success btn-center"><a href="update/department/{{department.id}}"></a>view</button>
                </div>
            </div>
        </div>
        {%endfor%}
    </div>
    
</div>



​
{% endblock %}