{%extends 'assets/base.html'%}
<!-- bootstrap -->
{% load static%}
{% load bootstrap4 %}
<!-- html -->
{% block content %}
<!-- content -->
<div class="container-fluid p-4">
    <h1 class="text-center text-success">DEPARTMENTS DETAILS</h1>
    <hr>
    <div class="row row-cols-1 row-cols-md-3 g-6">
        {%for department in department%}
        <div class="col-6">
            <a href="">
                <div class="card h-100">
                    <div class="card-body">
                        <h5 class="card-department_detailtitle text-success text-center">{{department.name}}</h5>
                        <p class="card-text">{{department.description}}</p>
                        <p class="card-title"><mark>Head of Department {{department.manager}}</mark></p>
                        <a href="update/department/{{department.id}}"></a>
                    </div>
                    <div class="card-footer">
                        <small class="text-muted">{{department.created_at}}</small>
                    </div>
                </div>
            </a>
        </div>
        {%endfor%}
    </div>
</div>
{% endblock%}