{%extends 'assets/base.html'%} {% load bootstrap4%} {% load static %}
<!-- contet -->
{%block content%}

<div class="container-fluid">
  <div class="row">
    <div class="col-md-12 mt-4">
      <header>
        <h2>Employee Request Details</h2>
        {% if user.is_admin or user.is_superuser%}
        <a
          class="btn btn-primary"
          href="#"
          data-toggle="modal"
          data-target="#staticBackdrop"
          >Update</a
        >
        {% endif%}
        <!-- or two -->

        {% if user == employee_requests.employee.user%}
        <a
          class="btn btn-primary"
          href="#"
          data-toggle="modal"
          data-target="#staticBackdrop2"
          >Update</a
        >
        {% endif%}
      </header>

      <div class="row">
        <div class="col-md-1"></div>
        <div class="col-md-7">
          <div class="card card-body">
            <div class="card-title" style="text-decoration: underline"></div>
            <div class="card-title">
              <hr />
              <ul class="p-4">
                <li>
                  name:
                  <strong
                    >{{ employee_requests.employee.user.username }}</strong
                  >
                </li>
                <li>
                  Request:
                  <strong>{{ employee_requests.request_detail}}</strong>
                </li>
                <li>
                  Created: <strong>{{ employee_requests.posted_date }}</strong>
                </li>
                <li>
                  Quantity: <strong>{{ employee_requests.quantity }}</strong>
                </li>
                <li>Status: <strong>{{ employee_requests.status }}</strong></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="col-md-5"></div>
  </div>

  <div
    class="modal fade"
    id="staticBackdrop"
    data-backdrop="static"
    data-keyboard="false"
    tabindex="-1"
    aria-labelledby="staticBackdropLabel"
    aria-hidden="true"
  >
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Update Requests</h5>
          <button
            type="button"
            class="close text-white"
            data-dismiss="modal"
            aria-label="Close"
          >
            &times;
          </button>
        </div>
        <div class="modal-body">
          <form
            class="form"
            method="post"
            novalidate
            enctype="multipart/form-data"
          >
            {% csrf_token %}
            <!-- form2 -->
            {% bootstrap_form form %}
            <button type="submit" class="btn btn-success">Update</button>
          </form>
        </div>
      </div>
    </div>
  </div>
  <div
    class="modal fade"
    id="staticBackdrop2"
    data-backdrop="static"
    data-keyboard="false"
    tabindex="-1"
    aria-labelledby="staticBackdropLabel"
    aria-hidden="true"
  >
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Update Requests</h5>
          <button
            type="button"
            class="close text-white"
            data-dismiss="modal"
            aria-label="Close"
          >
            &times;
          </button>
        </div>
        <div class="modal-body">
          <form
            class="form"
            action="{%url 'assets:update_employee_request' employee_requests.id%}"
            method="post"
            novalidate
            enctype="multipart/form-data"
          >
            {% csrf_token %}
            <!-- form2 -->
            {% bootstrap_form form2 %}
            <button type="submit" class="btn btn-success">Update</button>
          </form>
        </div>
      </div>
    </div>
  </div>

  {% endblock%}
</div>
