{%extends 'assets/base.html'%} {% load bootstrap4%} {% load static %}
<!-- content -->
{%block content%}

<div class="container-fluid">
  <div class="row">
    <div class="col-md-12">
      <div class="intro mt-3">
        <header class="mb-3 p-0">
          <h2 style="text-align: center">Employee Details</h2>

          <div>
            {% if user.is_superuser %}
            <a
              class="btn btn-primary mr-3"
              href="#"
              data-toggle="modal"
              data-target="#staticBackdrop"
              >Update</a
            >
            <a
              class="btn btn-danger"
              href="#"
              data-toggle="modal"
              data-target="#staticBackdrop2"
              >Delete Employee</a
            >
            {% endif %}
          </div>
        </header>
      </div>

      <table class="table mt-4">
        <thead>
          <tr>
            <th scope="col">ID</th>
            <th scope="col">Name</th>
            <th scope="col">Email</th>
            <th scope="col">Department</th>
            <th scope="col">Role</th>
          </tr>
        </thead>

        <tbody>
          <tr>
            <th scope="row">{{ employee.id }}</th>
            <td>{{ employee.user.username }}</td>
            <td>{{ employee.user.email }}</td>
            <td>{{ employee.department }}</td>
            <td>
              {% if employee.user.is_admin %} Manager
              <!-- super -->
              {%elif employee.user.is_superuser%} Admin {%else%}
              <!-- employee -->
              Employee {% endif %}
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>

  <!-- update department manager modal -->
  <div class="modal fade" id="staticBackdrop" data-backdrop="static" data-keyboard="false" tabindex="-1"
    aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">
            Update Employee Details
          </h5>
          <button type="button" class="close text-white" data-dismiss="modal" aria-label="Close">
            &times;
          </button>
        </div>
        <div class="modal-body">
          <form class="form" method="post" novalidate enctype="multipart/form-data">
            {% csrf_token %}
            <!-- form2 -->
            {% bootstrap_form form %}
            <button type="submit" class="btn btn-success">Update</button>
          </form>
        </div>
      </div>
    </div>
  </div>

  <div
    class="modal fade"
    id="staticBackdrop2"
    data-backdrop="static"
    data-keyboard="false"
    tabindex="-1"
    aria-labelledby="staticBackdropLabel"
    aria-hidden="true"
  >
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Delete Employee</h5>
          <button
            type="button"
            class="close text-white"
            data-dismiss="modal"
            aria-label="Close"
          >
            &times;
          </button>
        </div>
        <div class="modal-body">
          <h4>Are you sure you want to remove this employee?</h4>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-danger" data-dismiss="modal">
            Close
          </button>
          <a
            href="{%url 'assets:delete_employee' employee.id %}"
            type="button"
            class="btn btn-primary"
            >Confirm</a
          >
        </div>
      </div>
    </div>
  </div>

  {% endblock%}
</div>