{%extends 'assets/base.html'%}
{% load bootstrap4%}
{% load static %}

{%block content%}

<div class="container-fluid">
    <div class="row">
      <div class="col-md-7 mt-4">
        <div class="header d-flex flex-row justify-content-around">
            <h2>Requests</h2>
        </div>
      </div>
      <div class="col-md-5 mt-4">
      <div class="header d-flex flex-row justify-content-around ">
              <a style="text-align: left;"
                href="/add_request"
                class="btn btn-success"
                data-toggle="modal"
                data-target="#staticBackdrop"
              >
                Add Request</a
              >
            </div>
          </div>
        </div>
            <table class="table">
                <thead>
                  <tr>
                    <th scope="col">Name</th>
                    <th scope="col">Request</th>
                    <th scope="col">Status</th>
                    <th scope="col">Posted_date</th>
                    <th scope="col">Quantity</th>
                  </tr>
                </thead>

            {% for request in requests %}
           
                <tbody>
                  <tr 
                  style="cursor: pointer"
                  onclick="window.location='/requestdetails/{{request.id}}'">
                
                    <th scope="row">{{ request.employee}}</th>
                    <td>{{ request.request }}</td>
                    <td>{{ request.status }}</td>
                    <td>{{ request.posted_date }}</td>
                    <td>{{ request.quantity }} </td>
               
                  </tr>
                
                </tbody>
                {% endfor %}
              </table>
              
        </div>

        <h5>
          Manager : {% if request.manager %}
          <span style="text-transform: capitalize"
            >{{request.manager}}
          </span>

          <!-- option -->
          {% endif %}
        </h5>
        <div class="col-md-5"></div>
    </div>
</div>

<div
  class="modal fade"
  id="staticBackdrop"
  data-backdrop="static"
  data-keyboard="false"
  tabindex="-1"
  aria-labelledby="staticBackdropLabel"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Add Request</h5>
        <div class="modal1">
        <button
          type="button"
          class="close text-white"
          data-dismiss="modal"
          aria-label="Close"
        >
          &times;
        </button>
      </div>
      </div>
      <div class="modal-body">
        <form
          class="form"
          method="post"
          novalidate
          enctype="multipart/form-data"
        >
          {% csrf_token %} {% bootstrap_form form layout='block' %}
          <button
           type="submit"
            class="btn btn-success"
            style="margin-top: 13px; margin-left: 7px"
            >
            Add
          </button>
        </form>
      </div>
      <!-- <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div> -->
    </div>
  </div>
</div>
{% endblock%}
</div>
